{% extends "base.html" %}

{% load bootstrap4 %}
{% load i18n %}

{% block title %}
    {{ title }} | {% trans 'Task Manager' %}
{% endblock %}

{% block content %}
    <h1 class="my-4">{{ title }}</h1>

    <div class="mb-3">
        <a class="btn btn-primary" href="{% url 'task_create' %}">{% trans 'Create task' %}</a>
    </div>
    <div class="card mb-3">
        <div class="card-body bg-light">
            <form class="form-inline center mb-3" method="get">
                {% bootstrap_form filter.form field_class="ml-2 mr-3" %}
                {% bootstrap_button button_text button_type="submit" button_class="btn btn-primary" %}
            </form>

            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>{% trans 'Name' %}</th>
                            <th>{% trans 'Status' %}</th>
                            <th>{% trans 'Author' %}</th>
                            <th>{% trans 'Executor' %}</th>
                            <th>{% trans 'Creation date' %}</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if tasks %}
                            {% for task in tasks %}
                                <tr>
                                    <td>{{ task.id }}</td>
                                    <td><a href="{% url 'task_show' task.id %}">{{ task.name }}</a></td>
                                    <td>{{ task.status }}</td>
                                    <td>{{ task.author }}</td>
                                    <td>{{ task.executor }}</td>
                                    <td>{{ task.date_created|date:"d.m.Y H:i" }}</td>
                                    <td>
                                        <a href="{% url 'task_update' task.id %}" class="btn btn-sm btn-warning">{% trans 'Update' %}</a>
                                        <a href="{% url 'task_delete' task.id %}" class="btn btn-sm btn-danger">{% trans 'Delete' %}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="7" class="text-center">{% trans 'No tasks found' %}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}